.app__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: auto;
}

.app__about-container {
    background: var(--color-light-tan);
    max-width: 900px;
    color: var(--color-black)
}

.app__about-container h1,
.app__about-container p {
    margin: 20px;
}

.app__about-images{
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 300px;
    position: relative; 
    margin: 0 0 20px 20px;
}

.app__about-images-container{
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.app__about-images-container::-webkit-scrollbar {
    display: none;
}

.app__about-images_card{
    position: relative;
    min-width: 300px;
    height: 350px;
}

.app__about-images_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.app__about-images_card:hover img {
    opacity: .35;
}

.app__about-images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;
    position: absolute;
    bottom: 5%;
}

.about__arrow-icon {
    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 5px;
}

.about__arrow-icon:hover {
    color: var(--color-cyan);
}