.app__usca{
    /* account for Navbar */
    top: 80px;

    position: relative;
    padding: 2rem 2rem;
}

.app__eventdetail_event-card{
    display: flex;
    flex-direction: row;
}

.app__eventdetail_image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app__eventdetail_image{
    width: 200px;
    padding: 10px;
}

.app__eventdetail_title_text {
    color: var(--color-cyan);
    text-decoration: underline;
}

.app__eventdetail_data {
    padding: 0 0 0 20px;
}

.app__eventdetail_link_text{
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 650px) {
    .app__eventdetail_event-card{
        flex-direction: column;
    }

    .app__eventdetail_image-container{
        flex-direction: row;
    }
}